* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(#fff 30%, rgba(0, 0, 0, 0.2));
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    margin: 40px auto;
}

img {
    border-radius: 100%;
    width: 150px;
    border: rgb(162, 255, 119);
}

ul li {
    list-style: none;
    margin: 0 20px;
}

.user {
    padding: 60px 0;
    background-color: royalblue;
    border: 7px solid #fff;
    border-radius: 0 0 30px 30px;
    position: relative;
}

.computer {
    padding: 60px 0;
    background-color: rgb(65, 225, 132);
    border: 7px solid #fff;
    position: relative;
    border-radius: 30px 30px 0px 0px;
}

.hasil {
    background-color: #fff;
    border: 6px solid rgb(247, 13, 130);
    position: absolute;
    top: 45%;
    right: 30%;
    left: 30%;
    bottom: 45%;
    display: flex;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, rgb(194, 184, 184));
    font-family: Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-transform: uppercase;
    z-index: 10;
}

.skor {
    position: absolute;
    background-color: #fff;
    border-radius: 15px;
    width: 80px;
    height: 40px;
    border: 3px solid rgb(247, 13, 130);
    display: flex;
    font-family: Helvetica, sans-serif;
    font-size: 23px;
    justify-content: center;
    align-items: center;
}

.skor-user {
    top: 0;
}

.skor-comp {
    top: 0;
}

.user ul {
    display: flex;
    justify-content: center;
}

button {
    border: 6px solid rgb(162, 255, 119);
    border-radius: 100%;
}

.section-ruang {
    width: 60%;
    margin: 40px auto;
    position: relative;
}